* {
    margin: 40% auto;
    padding: 0%;
    box-sizing: border-box;
    /* background-image: url("../images/grass.png"); */
}
.outer {
    width: 80%;
    height: 700px;
    border: 1px solid black;
}